// variable
$tablet: 999px;
$mobile: 599px;
$mainContainer: 1200px;
$subContainer: 1200px;
$responsePadding: 20px;

@mixin mainTitle($family: 'Noto Serif KR', $size: 34px, $weight: 900, $color: #333) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	color: $color;
}
@mixin mainSubTitle($size: 16px, $weight: 300, $line-height: 1.7, $color: #777) {
	font-size: $size;
	font-weight: $weight;
	line-height: $line-height;
	color: $color;
}

// common
@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/fonts';
@import 'common/layout';
@import 'common/pop';

// main
@import 'main/visual';
@import 'main/bookList';
@import 'main/gallery';
@import 'main/youtubeList';
@import 'main/commentList';
@import 'main/location';

// sub
@import 'sub/members';
@import 'sub/youtube';
@import 'sub/gallery';
@import 'sub/signup';
@import 'sub/location';
