.sub-gallery {
	.search-wrap {
		padding-top: 120px;

		.inner-container {
			width: $subContainer;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.category-wrap {
				position: relative;

				&.on {
					.option-box {
						display: block;
					}
				}

				.selected-box {
					width: 250px;
					height: 42px;
					display: flex;
					border: 1px solid #4eb3b3;

					> p {
						flex: 1;
						height: 100%;
						display: flex;
						align-items: center;
						font-size: 14px;
						color: #333;
						padding: 0 15px;
						cursor: pointer;
					}

					.btn-select {
						width: 50px;
						height: 100%;
						background: #4eb3b3;
						color: #fff;
						cursor: pointer;

						i {
							font-size: 16px;
						}
					}
				}

				.option-box {
					display: none;
					width: 250px;
					border: 1px solid #4eb3b3;
					position: absolute;
					top: 52px;
					left: 0;

					li {
						font-size: 13px;
						color: #333;
						background: #ddf4f4;
						padding: 13px 15px;
						transition: 0.2s;
						cursor: pointer;

						&:not(:first-child) {
							border-top: 1px solid #4eb3b3;
						}

						&:hover {
							background: #4eb3b3;
							color: #fff;
						}
					}
				}
			}

			.search-box {
				width: 280px;
				height: 42px;
				display: flex;
				border: 1px solid #4eb3b3;

				input {
					flex: 1;
					height: 100%;
					display: flex;
					align-items: center;
					font-size: 14px;
					color: #333;
					padding: 0 15px;
					border: 0;
					outline: none;

					&::placeholder {
						font-size: 13px;
						color: #4eb3b3;
					}
				}

				.btn-search {
					width: 50px;
					height: 100%;
					background: #4eb3b3;
					color: #fff;
					cursor: pointer;
				}
			}
		}
	}

	.loading-wrap {
		display: none;
		padding: 85px 0 120px;
		text-align: center;
	}

	.pictures-wrap {
		padding: 85px 0 120px;

		.inner-container {
			width: $subContainer;
			margin: 0 auto;

			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 35px;

				li {
					width: calc(25% - 27px);

					.img-box {
						width: 93%;
						height: 270px;
						background: #eee;
						border-radius: 10px;
						margin-left: auto;
						overflow: hidden;
						cursor: pointer;
					}

					.info-wrap {
						width: 93%;
						background: #f7f7f7;
						border-radius: 10px;
						padding: 15px 20px;
						margin-top: -70px;

						p {
							font-size: 14px;
							font-weight: 300;
							color: #777;
							margin-bottom: 5px;
						}

						h3 {
							font-size: 17px;
							font-weight: 700;
							line-height: 1.4;
							color: #333;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $subContainer) {
	.sub-gallery {
		.search-wrap {
			.inner-container {
				width: 100%;
				padding: 0 $responsePadding;
			}
		}

		.pictures-wrap {
			.inner-container {
				width: 100%;
				padding: 0 $responsePadding;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.sub-gallery {
		.pictures-wrap {
			.inner-container {
				ul {
					li {
						width: calc(33.3333% - 24px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.sub-gallery {
		.pictures-wrap {
			.inner-container {
				ul {
					li {
						width: calc(50% - 18px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.sub-gallery {
		.search-wrap {
			padding-top: 70px;

			.inner-container {
				display: block;

				.category-wrap {
					.selected-box {
						width: 100%;
					}
				}

				.search-box {
					width: 100%;
					margin-top: 13px;
				}
			}
		}

		.pictures-wrap {
			padding: 50px 0 120px;

			.inner-container {
				ul {
					li {
						width: 100%;

						.info-wrap {
							h3 {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}
