.sign-up {
	padding: 120px 0;

	.inner-container {
		width: 700px;
		margin: 0 auto;

		.signup-box {
			background: #f7f7f7;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
			padding: 75px 50px;

			.top-wrap {
				text-align: center;

				h1 {
					font-family: 'Noto Serif KR';
					font-size: 40px;
					font-weight: 900;
					color: #069797;
				}

				.sns-wrap {
					display: inline-flex;
					gap: 15px;
					margin: 30px 0;

					a {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 50px;
						height: 50px;
						background: #fff;
						border: 1px solid #d7d7d7;
						border-radius: 50%;

						i {
							font-size: 18px;
							color: #333;
						}
					}
				}

				> p {
					font-size: 14px;
					font-weight: 300;
					color: #069797;
				}
			}

			.form-signup {
				margin-top: 35px;

				.input-box {
					&:not(:first-child) {
						margin-top: 25px;
					}

					.tit {
						display: block;
						font-size: 14px;
						color: #999;
						margin-bottom: 7px;
					}

					input[type='text'],
					input[type='password'],
					input[type='email'],
					select,
					textarea {
						width: 100%;
						height: 50px;
						background: #fff;
						padding: 0 15px;
						border: 1px solid #e7e7e7;
						outline: none;
						font-family: 'Noto Sans KR';
						font-size: 14px;
						color: #333;

						&::placeholder {
							font-size: 13px;
							color: #bfbfbf;
						}
					}

					textarea {
						height: auto;
						padding: 15px;
					}

					.radio-wrap,
					.check-wrap {
						display: flex;
						align-items: center;

						> div {
							&:not(:first-child) {
								margin-left: 20px;
							}

							input {
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;

								width: 18px;
								height: 18px;
								border: 1px solid #888;
								border-radius: 50%;
								background: #fff;
								transition: 0.2s all linear;
								margin-right: 5px;
								cursor: pointer;

								&:checked {
									border: 5px solid #4eb3b3;
								}
							}

							label {
								font-size: 14px;
								color: #333;
								cursor: pointer;
							}
						}
					}

					.check-wrap {
						> div {
							input {
								border-radius: 0;
							}
						}
					}
				}

				.btn-wrap {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 70px;

					input {
						width: 150px;
						height: 45px;
						font-size: 14px;
						font-weight: 300;
						line-height: 45px;
						color: #fff;
						border: none;
						background: #4eb3b3;
						cursor: pointer;

						&:not(:first-child) {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}
