$slideLength: 5;
$slideWidth: 250px;

#main-book-list {
	display: flex;
	justify-content: flex-end;
	background: #f5f5f5;
	padding: 100px 0;

	.inner-container {
		width: calc(calc(calc(100% - $mainContainer) / 2) + $mainContainer);
		display: flex;
		align-items: center;

		.title-wrap {
			width: 300px;
			margin-right: 50px;

			h1 {
				@include mainTitle();
			}

			p {
				@include mainSubTitle();
				margin-top: 15px;
			}

			.btn-more {
				display: block;
				width: 120px;
				height: 35px;
				font-size: 14px;
				line-height: 35px;
				color: #fff;
				background: #e98508;
				text-align: center;
				margin-top: 50px;
			}
		}

		.slide-wrap {
			flex: 1;
			overflow: hidden;
			padding-bottom: 85px;
			position: relative;

			.panel {
				width: calc($slideWidth * $slideLength);
				display: flex;
				align-items: center;
				gap: 30px;

				> div {
					width: $slideWidth;
					cursor: pointer;

					.img-box {
						width: 100%;
						height: 310px;
						background: #777;
						box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
					}

					.info-box {
						margin-top: 15px;

						h2 {
							font-size: 20px;
						}

						p {
							font-size: 14px;
							color: #777;
							margin-top: 5px;
						}
					}
				}
			}

			.arrow {
				position: absolute;
				bottom: 0;
				left: calc($mainContainer - 430px);
				display: flex;
				align-items: center;
				gap: 10px;

				> button {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 35px;
					height: 35px;

					&.prev {
						background: #d7d7d7;
						color: #333;
					}
					&.next {
						background: #333;
						color: #d7d7d7;
					}
				}
			}
		}
	}
}
