#main-gallery {
	background: #f5f5f5;
	padding: 100px 0;

	.inner-container {
		width: $mainContainer;
		margin: 0 auto;

		.title-wrap {
			text-align: center;
			margin-bottom: 50px;

			h1 {
				@include mainTitle();
			}

			p {
				@include mainSubTitle();
				margin-top: 15px;
			}
		}

		.box-wrap {
			height: 480px;
			display: flex;
			gap: 25px;

			.inner-box {
				width: 30%;
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 25px;

				&:first-child {
					width: 40%;
				}

				.flex-box {
					height: 100%;
					display: flex;
					gap: 25px;

					article {
						flex: 1;
					}
				}
			}

			article {
				height: 100%;
				background: #c3c3c3;
				border-radius: 15px;
				position: relative;

				.info-box {
					width: 100%;
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 20px;

					h2 {
						font-size: 18px;
						font-weight: 700;
						color: #333;
					}

					p {
						font-size: 14px;
						color: #555;
						margin-top: 3px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mainContainer) {
	#main-gallery {
		.inner-container {
			width: 100%;
			padding: 0 $responsePadding;
		}
	}
}
