#main-location {
	padding: 100px 0;

	.inner-container {
		width: $mainContainer;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		h1 {
			@include mainTitle();
			line-height: 1.5;
			text-align: right;

			span {
				display: block;
				margin-right: -30px;
			}
		}

		.inner-content {
			width: 500px;
			margin-left: 70px;

			p {
				@include mainSubTitle();
			}

			.btn-more {
				display: block;
				width: 120px;
				height: 35px;
				font-size: 16px;
				font-weight: 300;
				line-height: 35px;
				color: #fff;
				background: #e98508;
				text-align: center;
				margin-top: 35px;
			}
		}
	}
}

@media screen and (max-width: $mainContainer) {
	#main-location {
		.inner-container {
			width: 100%;
			padding: 0 $responsePadding;
		}
	}
}

@media screen and (max-width: $tablet) {
	#main-location {
		.inner-container {
			display: block;

			h1 {
				text-align: left;

				span {
					display: inline-block;
					margin-right: 0;
				}
			}

			.inner-content {
				width: 100%;
				margin-left: 0;
				margin-top: 15px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#main-location {
		.inner-container {
			h1 {
				font-size: 25px;
			}
		}
	}
}
