#main-youtube-list {
	background: #f5f5f5;
	padding: 100px 0;

	.inner-container {
		width: $mainContainer;
		margin: 0 auto;

		.title-wrap {
			h1 {
				@include mainTitle();
				line-height: 1.5;
			}

			.btn-video {
				display: flex;
				align-items: center;
				margin-top: 20px;

				i {
					font-size: 28px;
					color: #e98508;
					margin-right: 10px;
				}

				span {
					font-size: 16px;
					font-weight: 500;
					color: #e98508;
				}
			}
		}

		.inner-content {
			display: flex;
			justify-content: space-between;
			margin-top: 35px;

			p {
				flex: 1;
				margin-right: 50px;
				@include mainSubTitle();
			}

			.video-wrap {
				width: 720px;
				display: flex;
				gap: 25px;
				margin-top: -20px;

				article {
					flex: 1;
					height: 200px;
					background: #777;
				}
			}
		}
	}
}

@media screen and (max-width: $mainContainer) {
	#main-youtube-list {
		.inner-container {
			width: 100%;
			padding: 0 $responsePadding;

			.inner-content {
				p {
					margin-right: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: 1080px) {
	#main-youtube-list {
		.inner-container {
			.inner-content {
				.video-wrap {
					width: 70%;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#main-youtube-list {
		.inner-container {
			.inner-content {
				display: block;

				p {
					margin-right: 0;
				}

				.video-wrap {
					width: 100%;
					margin-top: 50px;

					article {
						height: 230px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#main-youtube-list {
		.inner-container {
			.title-wrap {
				h1 {
					font-size: 25px;
				}
			}

			.inner-content {
				.video-wrap {
					display: block;

					article {
						&:not(:first-child) {
							margin-top: 25px;
						}
					}
				}
			}
		}
	}
}
