#main-youtube-list {
	background: #f5f5f5;
	padding: 100px 0;

	.inner-container {
		width: $mainContainer;
		margin: 0 auto;

		.title-wrap {
			h1 {
				@include mainTitle();
				line-height: 1.5;
			}

			.btn-video {
				display: flex;
				align-items: center;
				margin-top: 20px;

				i {
					font-size: 28px;
					color: #e98508;
					margin-right: 10px;
				}

				span {
					font-size: 16px;
					font-weight: 500;
					color: #e98508;
				}
			}
		}

		.inner-content {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;

			p {
				@include mainSubTitle();
				margin-right: 50px;
			}

			.video-wrap {
				display: flex;
				gap: 25px;
				margin-top: -20px;

				article {
					width: 350px;
					height: 200px;
					background: #777;
				}
			}
		}
	}
}

@media screen and (max-width: $mainContainer) {
	#main-youtube-list {
		.inner-container {
			width: 100%;
			padding: 0 $responsePadding;
		}
	}
}
