* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	background: none;
}

body {
	font-family: 'Noto Sans KR';
	font-weight: 400;
	overflow-x: hidden;
}

// Form
fieldset {
	border: none;
}

input,
label {
	vertical-align: middle;
}

.h {
	position: absolute;
	top: -99999px;
	opacity: 0;
}
