* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	background: none;
}

body {
	font-family: 'Noto Sans KR';
	font-weight: 400;
}
